.title {
    color: #445161;
    font-size: 30px;
    line-height: 36px;
  }

.container {
    max-width: 1180px;
    margin: 0 auto;
  }

.columns {
    background-color: #f5f5f5;
    padding: 50px 0px 30px 0px;
  }
  
  .columns__title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .columns__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -8px;
  }

.add__post {
  width: 400px;
  margin: 0 auto;
}

.add__post input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  box-sizing: border-box;
}

.add__post button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}