  
  .columns__colum {
    flex: 0 1 50%;
    margin-bottom: 30px;
    padding: 0px -8px;
  }
  
  .item__row {
    display: flex;
  }
  
  .item__image {
    flex: 0 0 200px;
  }
  
  .item__image img {
    width: 100%;
  }
  
  .item__body {
    flex: 1 1 auto;
    padding-left: 15px;
  }
  
  .item__title {
    color: #445161;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 13px;
  }
  
  .item__text {
    color: #333;
    font-size: 16px;
    line-height: 24px;
  }