.title {
    color: #445161;
    font-size: 30px;
    line-height: 36px;
  }

.container {
    max-width: 1180px;
    margin: 0 auto;
  }

.vertical {
    padding: 50px 0px;
  }
  
  .vertical__title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .vertical__body {
    max-width: 990px;
    margin: 0 auto;
  }
  
  .vertical__row {
    display: flex;
    margin: 0px -22.5px;
  }
  
  .vertical__column {
    flex: 0 1 33.333%;
    padding: 0px 22.5px;
    display: flex;
  }
  
  .vertical__item {
    background-color: #445162;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #445162;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .vertical__subtitle {
    background-color: #445162;
    font-size: 24px;
    text-transform: uppercase;
    padding: 12px 0;
    text-align: center;
  }
  
  .vertical__label {
    text-align: center;
    background-color: #fff;
    color: #445162;
    padding: 23px 0;
    font-size: 40px;
    line-height: 1;
  }
  
  .vertical__text {
    padding: 20px;
    font-size: 14px;
    line-height: 24px;
    flex: 1 1 auto;
  }
  
  .vertical__text p {
    margin-bottom: 15px;
  }
  
  .vertical__text p:last-child {
    margin-bottom: 0px;
  }
  
  .vertical__btn {
    display: block;
    margin: 0 20px;
    height: 40px;
    background-color: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
  }